*{
  padding: 0;
  margin: 0;
}
h1 {
  text-align: center;
}

#reader {
  width: 800px;
}

.result {
  background-color: green;
  color: #fff;
  padding: 20px;
}

.row {
  display: flex;
}


.drawingBuffer{
  display: none;
}

#interactive{
  max-width: 800px;
  width: 100%;
}